.o_apps_menu_wrapper {
    background-image:
        url("/web_responsive/static/src/img/apps_menu_bg.svg"),
        url("/web_responsive/static/src/img/apps_menu_bg_photo.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, center center;
    background-size: contain, cover;
}