/* Appraisal Period banner colors - Tier 2 Scorecard */
.period-banner-h1 {
    background-color: #D2B48C !important;
}
.period-banner-h2 {
    background-color: #D2B48C !important;
}
.period-banner-default {
    background-color: #1d2b32 !important;
}